/* Responsive */
@media (max-width: 1001px) {#hamburger {display: block; } 
.menu-head {display: none; } 
.wrap-menu {display: none; } 
.cart-head {padding: 5px;font-size: 12px; } 
.header {padding: 10px 0px; } 
.flex-product-main {display: block; } 
.flex-product-main .left-product {position: fixed;z-index: 999;top: 0px;left: 0px;transform: translateX(-250px);bottom: 0px;overflow-x: hidden;background: #fff;box-shadow: 0px 0px 5px #000;transition: all 0.5s; } 
.flex-product-main .left-product.show {transform: translateX(0px); } 

.flex-product-main .right-product {width: 100%; } 

.grid-product {display: grid;grid-template-columns: repeat(3, 1fr);gap: 20px; } 
.filter { display: block; } 
 }
@media (max-width: 850px) { } 
@media (max-width: 769px) {.text-cart { display: none; } 
.grid-pro-detail {display: block; } 
.grid-pro-detail .left-pro-detail {width: 100%;padding: 0px;border-right: none; } 
.slick_photo1 {text-align: center; } 
.grid-pro-detail .right-pro-detail {width: 100%; } 
.grid-product {display: grid;grid-template-columns: repeat(2, 1fr);gap: 10px; } 
 }
@media (max-width: 440px) {.policy__list > li {width: 100%;padding-right: 0px !important;border-bottom: 1px solid #f1f1f1 !important; } 
 }
@media (max-width: 1024px) {.menu-res {display: block; } 

.menu {display: none; } 

.header {display: none; } 
 }
@media (max-width: 991px) {
.footer-news:nth-child(1) {width: 100%;margin-bottom: 15px;} 
 .footer-news:nth-child(2) {width: 100%;margin-bottom: 15px;} 
 .footer-news:nth-child(3) {width: 100%;margin-bottom: 15px;} 
 .footer-news:nth-child(4) {width: 100%;} 
 }
@media (max-width: 767px) { } 
@media (max-width: 576px) { } 
@media (max-width: 369px) { } 